:root{
  --celeste: rgb(78, 123, 247); 
  --azulClaro: rgb(72, 72, 179); 
  --azulNoSaturado: rgba(15, 15, 39, 1); 
  --azul: rgb(29, 35, 73);
  --blanco: rgb(233, 233, 240);
  --transparente: rgba(255, 255, 255, 0.363);
  --sombra: orange;
  --sombraClara: rgb(255, 222, 112);
  --sombraOscura: rgb(148, 39, 0);

  --a: rgba(255, 200, 100, 0.6);
  --b: rgba(100, 255, 200, 0.6); 
  --c: rgba(200, 100, 255, 0.6); 
  --d: rgba(255, 100, 150, 0.6); 
  --e: rgba(100, 150, 255, 0.6);
}   
.tema-claro {
  --azulNoSaturado: rgb(215, 215, 221);
  --azul: rgb(255, 255, 255);
  --blanco: black;
  --transparente: rgba(255, 255, 255, 0.363);
  --sombra: rgb(38, 38, 255);
  --sombraClara: rgb(104, 151, 255);
  --sombraOscura: rgb(0, 0, 46);

  --a: rgba(255, 200, 100, 1);
  --b: rgba(100, 255, 200, 1); 
  --c: rgba(200, 100, 255, 1); 
  --d: rgba(255, 100, 150, 1); 
  --e: rgba(100, 150, 255, 1);
}
*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  color: var(--blanco);
  background-color: var(--azulNoSaturado);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Barra de naveacion */
#navbar{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
nav {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background:  linear-gradient(270deg, var(--azul), var(--azulNoSaturado));
  background-size: 400% 400%;
  animation: moverFondo 5s ease infinite;

  position: fixed;
  top: 0;
  z-index: 10;
}
nav h4 {
  margin: 10px;
  font-size: 1.2rem;
  color: var(--sombraClara);
}
nav ul {
  display: flex;
  gap: 20px; 
  list-style: none;
  margin: 10px;
  padding: 0;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: var(--blanco);
  font-weight: 500;
  transition: color 0.3s ease;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--azulNoSaturado);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}
.overlay.show {
    transform: translateY(0);
}
.overlay a {
    color: var(--blanco);
    font-size: 24px;
    text-decoration: none;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: var(--blanco);
    cursor: pointer;
}
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background: var(--blanco); /* Cambia según tu header */
}
@media (max-width: 768px) {
    nav ul.nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}
a{
  color: var(--celeste);
}
a:hover {
  color: var(--azulClaro);
}
section{
  margin-bottom: 100px;
  margin-top: 100px;
}
button {
  margin: 10px;
  padding: 10px;

  border: 3px solid transparent;
  border-radius: 20px;
  color: white;
  background: 
    linear-gradient(var(--azul), var(--azul)) padding-box, 
    linear-gradient( 270deg, var(--azulClaro), var(--celeste), var(--azulClaro), var(--celeste) ) border-box;
  background-size: 300% 300%; 
  animation: moverDegrade 2s linear infinite; 

}
button:hover{
    color: var(--naranja);
    cursor: pointer;
}
p{
  font-size: 18px;
  font-weight: 400;
}
h2{
  font-size: 32px;
  font-weight: 800;
}
.resaltado{
  font-weight: 800;
  animation: cambiarColor 5s linear infinite;
}
.pequeño{
  font-size: 15px;
  font-weight: 600;
}
.decorative-line{
  margin-top: -25px;
  width: 40%;
  height: 2px;

  background:  linear-gradient(270deg, var(--azulClaro), var(--azul));
  background-size: 800% 800%;
  animation: moverFondo 5s ease infinite;
}
.over:hover{
  filter: drop-shadow( 0px 0px 10px var(--celeste));
  transform: translateY(-15px);
  transition: 0.4s;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0;
  

  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-top: 90px;
  padding: 20px;

  background: 
    linear-gradient(180deg,rgba(139, 139, 139, 0.205), var(--azulNoSaturado) 90%), 
    url("https://kodigowebstorage.blob.core.windows.net/kodigowebsite/2023/07/experiencia-programacion-persona-que-trabaja-codigos-computadora-scaled-1.jpg") no-repeat center center;
  background-size: cover;
}
footer{
    background-color: var(--azulNoSaturado);
    width: 100%;
    height: 200px;
}   
.carousel-track {
  display: flex;
  width: calc(300px * 8); /* ancho = ancho imagen * cantidad */
  animation: scroll 20s linear infinite;

}
.carousel-track div{
  margin: 20px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.carousel-track div p{
  font-size: 15px;
  font-weight: 400;
}
.carousel-track img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}
.carousel-track img:hover{
  width: 320px;
  height: 220px;
}
.img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;

  box-shadow: 
    0 0 12px var(--sombra),
    0 0 12px var(--sombraOscura);
}
.img:hover{
  width: 320px;
  height: 220px;
} 
h4{
  font-size: 24px;
  margin-bottom: -15px;
}
div p{
  margin-top: -10px;
}
.contacto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}
.formulario{
  width: 80%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 4px var(--azulNoSaturado);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
input, textarea{
  width: 80%;
  margin: 10px;
  padding: 10px;
  color: white;

  border: 1px var(--celeste) solid;
  border-radius: 10px;
  background-color: transparent;

}
input::placeholder, textarea::placeholder{
  color: var(--celeste);
}
.nosotros{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotros h2{
  font-weight: 800;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin: 20px;
}
.info p{
  margin-right: 20px;
}
.container-img{
  width: 70%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.container-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listas{
  display: flex;
  background-color: var(--azul);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}
.listas div{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.listas div div{
  width: 120px;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blanco);
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--sombraOscura);
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--sombra);
}
input:checked + .slider:before {
  transform: translateX(26px);
  }
.theme-label {
  font-weight: bold;
  color: var(--sombraClara);
}
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* detrás de todo */
}
.shape {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.6;
    animation: float 25s infinite ease-in-out;
}
.shape-1 { width: 200px; height: 200px; top: 10%; left: 5%; background: var(--a); animation-delay: 0s; }
.shape-2 { width: 300px; height: 300px; top: 50%; left: 70%; background: var(--b); animation-delay: -5s; }
.shape-3 { width: 150px; height: 150px; top: 70%; left: 20%; background: var(--c); animation-delay: -10s; }
.shape-4 { width: 250px; height: 250px; top: 30%; left: 80%; background: var(--d); animation-delay: -7s; }
.shape-5 { width: 180px; height: 180px; top: 60%; left: 50%; background: var(--e); animation-delay: -3s; }

@media(max-width:768px){
  .listas{
    flex-direction: column;
    width: 90%;
  }
  .listas div{
    width: 100%;
  }
  .nosotros{
    width: 100%;
  }
  .info{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info p{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
  }
  nav h4{
    margin-left: 10px;
  }
  nav{
    justify-content: unset;
  }
  nav .hamburger{
    margin-left: 40%;
    margin-right: 10px;
  }
}
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
@keyframes moverFondo {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@keyframes moverDegrade {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
@keyframes cambiarColor {
  0%   { color: var(--sombra); }
  50% { color: var(--sombraClara); }
  100%   { color: var(--sombra); }
}
@keyframes float {
  0%   { transform: translateY(0) translateX(0) scale(1); }
  50%  { transform: translateY(-80px) translateX(40px) scale(1.1); }
  100% { transform: translateY(0) translateX(0) scale(1); }
}